*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::after, 
    &::before {
        @extend *;
    }
}

body {
    font-size: $fontSize;
    color: $textColor;
    background: $backgroundColor;
}